@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

 :root {
  --background-color: #f3f3f3;
  --number-color: #121317;
  --operator-color: #ff802b;

  --box-shadow: -10px -10px 30px 0 #fff, 10px 10px 30px 0 #1d0dca17;
  --box-shadow-hover: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #00000018;
  
} 

html[dark-theme=''] {
  --background-color: #121317;
  --number-color: #fff;
  --operator-color:  #828fff;

  --box-shadow: -10px -10px 30px 0 rgb(0, 0, 0), 10px 10px 30px 0 #b7b6be17;
  --box-shadow-hover: -15px -15px 30px 0 rgb(0, 0, 0), 15px 15px 30px 0 #ffffff27;
}
::selection {
  background: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: var(--number-color);
  background-color: var(--background-color);
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
.mode{
}
#mode{
  opacity: 0;
  position: absolute;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}
.calculator {
  position: relative;
}
.calculator__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 10px;
}
.calculator__title {
  color: var(--operator-color);
  margin: 0;
}
.calculator__screen {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--number-color);
  align-items: flex-end;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 6px;
  height: 3.125rem;
}
.calculator__prev {
  margin-bottom: 10px;
}
.calculator__curr {
  white-space: nowrap;
}
.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625rem;
  justify-items: center;
  align-items: center;
}
.calculator__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 1.25rem;
  border: none;
  cursor: pointer;
  background: #f5f5fa;
  box-shadow: var(--box-shadow);
  color: var(--number-color);
  background-color: inherit;
  transition: 0.2s;
}
.calculator__btn:hover,.calculator__btn:active {
  box-shadow: var(--box-shadow-hover);
}
.calculator__btn:not([data-num]) {
  color: var(--operator-color);
}
[data-equal="="] {
  width: 100%;
  grid-column: 2 /5;
  border-radius: 20px;
}
.error {
  max-width: 400px;
  display: none;
  position: absolute;
  text-align: center;
  top: 40%;
}

.error__text {
  margin-top: 0%;
  animation: zoom 1s;
  font-size: 1.875rem;
}
.error-show {
  display: block;
}
.error__reset {
  font-size: 1.25rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: var(--background-color);
  padding: 20px;
  box-shadow: var(--box-shadow);
  color: var(--operator-color);
}
.error__reset:hover {
  box-shadow: var(--box-shadow-hover)
}
@keyframes zoom {
  0% {
    transform: scale(0.2);
    opacity: 1;
  }

  70% {
    transform: scale(3);
  }

  100% {
    opacity: 0;
  }
}
.broken {
  animation: broken 2s;
  opacity: 0;
}
@keyframes broken {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  5% {
    transform: rotate(5deg);
  }

  15% {
    transform: rotate(-5deg);
  }

  20% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(45deg);
  }

  70% {
    transform: translate3d(0, 2000px, 0);
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    transform: translate3d(0, -2000px, 0);
  }
}
